@page "/"
@inject StronglyTypedStringLocalizerForResource Localizer

<PageTitle>@Localizer.CompanyName</PageTitle>

<h1>@Localizer.IndexWelcomeMessage</h1>

<section>
    <p>@Localizer.IndexMeLine1</p>

    <p>
        @Localizer.IndexMeLine2Part1<br/>
        @Localizer.IndexMeLine2Part2
    </p>
    
    <p>
        @Localizer.IndexMeLine3Part1
    </p>
</section>